.Polaris-MediaCard__LikeButton{
    cursor: pointer;
}
.Polaris-MediaCard__Heading{
    display: flex;
    justify-content: space-between;;
    align-items: center;
}
.Polaris-MediaCard__LikeButton svg {
    font-size: 2rem;
}